<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Port Scanner</title>
</head>

<body>
  <div class="container cyan topBotomBordersOut">
    <a href="/">HOME</a>
    <a href="scanning">PORT SCANNER</a>
    <a href="contact">CONTACT</a>
  </div>
  <h1 style="font-size: 100px;margin-left: 7%;margin-top:25%;color: whitesmoke;">Cybertrace</h1>
</body>
</html>